@model TrackingApp.Models.System_Form

@{
    ViewBag.Title = "Details";
}

<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">

    <div class="widget">
        <h4 class="widget-title">System form</h4>
        <div class="summary-block">
            <div class="summary-content">
                <div class="summary-head">
                    <h5 class="summary-title">
                        @Html.DisplayNameFor(model => model.System_User.User_name)
                    </h5>
                </div>
                <div class="summary-price">
                    <p class="summary-text">@Html.DisplayFor(model => model.System_User.User_name)</p>
                </div>
            </div>
        </div>

        <div class="summary-block">
            <div class="summary-content">
                <div class="summary-head">
                    <h5 class="summary-title">
                        Files Uploaded
                    </h5>
                </div>
                <div class="summary-price">
                    @foreach (var item in Model.FileDetails)
                    {
                        <li>
                            <a class="title" href="/System_Form/Download/?p=@(item.Id + item.Extension)&d=@item.FileName">@item.FileName</a>
                        </li>
                    }
                </div>
            </div>
        </div>

        <div class="summary-block">
            <div class="summary-content">
                <div class="summary-head">
                    <h5 class="summary-title">
                        @Html.DisplayNameFor(model => model.Form_note)
                    </h5>
                </div>
                <div class="summary-price">
                    <p class="summary-text">@Html.DisplayFor(model => model.Form_note)</p>
                </div>
            </div>
        </div>
        <div class="summary-block">
            <div class="summary-content">
                <div class="summary-head"> <h5 class="summary-title">@Html.DisplayNameFor(model => model.Form_remark)</h5></div>
                <div class="summary-price">
                    <p class="summary-text">@Html.DisplayFor(model => model.Form_remark)</p>
                </div>
            </div>
        </div>
        <div class="summary-block">
            <div class="summary-content">
                <div class="summary-head"> <h5 class="summary-title">@Html.DisplayNameFor(model => model.Form_title)</h5></div>
                <div class="summary-price">
                    <p class="summary-text">@Html.DisplayFor(model => model.Form_title)</p>
                </div>
            </div>
        </div>
        <div class="summary-block">
            <div class="summary-content">
                <div class="summary-head"> <h5 class="summary-title">@Html.DisplayNameFor(model => model.Form_date)</h5></div>
                <div class="summary-price">
                    <p class="summary-text">@Html.DisplayFor(model => model.Form_date)</p>
                </div>
            </div>
        </div>
        <div class="summary-block">
            <div class="summary-content">
                <div class="summary-head"> <h5 class="summary-title">@Html.DisplayNameFor(model => model.Form_notification)</h5></div>
                <div class="summary-price">
                    <p class="summary-text">@Html.DisplayFor(model => model.Form_notification)</p>
                </div>
            </div>
        </div>
        <div class="summary-block">
            <div class="summary-content">
                <div class="summary-head"> <h5 class="summary-title">@Html.DisplayNameFor(model => model.Form_status)</h5></div>
                <div class="summary-price">
                    <p class="summary-text">@Html.DisplayFor(model => model.Form_status)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Form_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

