@model TrackingApp.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

<div class="card">
    <div class="card-header">
        <strong>Change password</strong>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="card-body card-block">
        <form class="form-horizontal">

            <div class="row form-group">
                <div class="col col-md-3">
                    <i class="fa fa-key"></i>
                    <label for="select" class=" form-control-label">Password</label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })

                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    <i class="fa fa-unlock-alt"></i>
                    <label for="text-input" class=" form-control-label">New password</label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    <i class="fa fa-lock"></i>
                    <label for="textarea-input" class=" form-control-label">Confirm password</label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                </div>
            </div>

        </form>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-dot-circle-o"></i> Change password
        </button>
    </div>
</div>
}



